# Ambiente virtual
venv/
ENV/
.venv/

# Arquivos Python compilados
__pycache__/
*.pyc

# Banco de dados local
db.sqlite3

# Arquivos de configuração locais
.env

# Arquivos gerados
arquivos/
clientes-obs.xlsx
clientes.xlsx
1273795_0001450_100425-remessa_cnab240.rem
1273795_0001451_150425-remessa_cnab240.rem
1273795_0001452_150425-remessa_cnab240.rem
remessa_cnab400.rem
similaridades.xlsx
arquivos.zip
dist/
build/
*.spec